footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  width: 100%;
  background: linear-gradient(var(--gray-gradient)) no-repeat;
  color: rgb(var(--gray));
  text-align: center;
}

footer .social-links {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1em;
}

footer .social-links a {
  text-decoration: none;
  color: rgb(var(--gray));
}

footer .social-links a:hover {
  color: rgb(var(--gray-dark));
}
