footer {
  position: absolute;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap-reverse;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  width: 100%;
  height: 4rem;
  padding-top: 4rem;
  bottom: 0;
  background: transparent;
  color: var(--text);
  text-align: center;
}

footer .social-links {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1em;
}

footer .social-links a {
  text-decoration: none;
  color: rgb(var(--gray));
}

footer .social-links a:hover {
  color: rgb(var(--gray-dark));
}

@media (max-width: 720px) {
  footer {
    display: flex;
    flex-direction: column-reverse;
    justify-content: flex-end;
    align-items: center;
    height: 10rem;
    gap: 0;
    padding-top: 1rem;
    height: auto;
  }

  footer .footer-text {
    width: 100%;
  }

  footer .social-links {
    width: 100%;
  }
}
