header {
  margin: 0;
  padding: 0 1em;
  background: white;
  box-shadow: 0 2px 8px rgba(var(--black), 5%);
}

header h2 {
  margin: 0;
  font-size: 1em;
}

header h2 a,
header h2 a.active {
  text-decoration: none;
}

header nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header nav a {
  padding: 1em 0.5em;
  color: var(--black);
  border-bottom: 4px solid transparent;
  text-decoration: none;
}

header nav a.active {
  text-decoration: none;
  border-bottom-color: var(--accent);
}

header .social-links,
header .social-links a {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

@media (max-width: 720px) {
  header .social-links {
    display: none;
  }
}
