header {
  margin: 0;
  padding: 0 2em;
  width: 100%;
  background: transparent;
}

header h2 {
  margin: 0;
  font-size: 1em;
}

header h2 a,
header h2 a.active {
  text-decoration: none;
}

header nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header nav a {
  padding: 1em 0.5em;
  color: var(--text);
  border-bottom: 4px solid transparent;
  text-decoration: none;
}

header nav a.active {
  text-decoration: none;
  border-bottom-color: var(--accent);
}

header .sub-nav {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;
  gap: .5rem;
  width: auto;
}

header .social-links,
header .social-links a {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

@media (max-width: 720px) {
  header {
    padding: 0;
  }

  header .social-links {
    display: none;
  }

  .mobile-nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    gap: 5rem;
    width: 100%;
    padding-block: 1rem;
    background: var(--background);
  }

  #astronav-menu {
    background: none;
    border: none;
    color: var(--accent-dark);
  }

  .astronav-toggle {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    color: var(--text);
  }
}
