/*
  The CSS in this style tag is based off of Bear Blog's default CSS.
  https://github.com/HermanMartinus/bearblog/blob/297026a877bc2ab2b3bdfbd6b9f7961c350917dd/templates/styles/blog/default.css
  License MIT: https://github.com/HermanMartinus/bearblog/blob/master/LICENSE.md
 */

/* Component CSS Imports */
/* TODO: Break this out to its own component */
@import './components/card.css';

@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@300;600&family=JetBrains+Mono:wght@400;600;700&family=Yeseva+One&display=swap');

:root {
  --main-width: 800px;
  --card-width: calc((var(--main-width) / 2) - 1rem);
  --accent: #2337ff;
  --accent-dark: #000d8a;
  --black: 15, 18, 25;
  --gray: 96, 115, 159;
  --gray-light: 229, 233, 240;
  --gray-dark: 34, 41, 57;
  --stone: 216, 209, 175;
  --sky: 11, 175, 198;
  --blue: 50, 111, 166;
  --code-bg: #24292e;
  --gray-gradient: rgba(var(--gray-light), 50%), #fff;
  --gray-dark-gradient: rgba(var(--gray), 100%), rgba(var(--gray-dark), 100%);
  --gray-gradient-solid: rgb(var(--gray-light)), #fff;
  --box-shadow-light: 0 2px 6px rgba(var(--gray), 25%), 0 8px 24px rgba(var(--gray), 33%),
    0 16px 32px rgba(var(--gray), 33%);
  --box-shadow-dark: 0 2px 6px rgba(var(--gray-dark), 25%), 0 8px 24px rgba(var(--gray-dark), 33%),
    0 16px 32px rgba(var(--gray-dark), 33%);

  --card-width: calc((var(--main-width) / 2) - 1.75rem);
  --header-font: 'Yeseva One', serif;
  --body-font: 'Dosis', sans-serif;
  --code-font: 'JetBrains Mono', monospace;

  --blend: difference;
}

[data-theme='light'] {
  --background: rgba(var(--gray-light), 100%);
  --background-gradient: linear-gradient(var(--gray-gradient));
  --text: rgba(var(--black), 100%);
  --box-shadow: var(--box-shadow-light);
  --title-color: rgba(var(--black), 100%);
  --accent: #2337ff;
}

[data-theme='dark'] {
  --background: rgba(var(--gray-dark), 100%);
  --background-gradient: linear-gradient(var(--gray-dark-gradient));
  --text: rgba(var(--stone), 100%);
  --box-shadow: var(--box-shadow-dark);
  --title-color: rgba(var(--blue), 100%);
  --accent: rgba(var(--sky));
  --blend: color-dodge;
}

/*--------------------------------*/
/*-------       Base        ------*/
/*--------------------------------*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  width: 100%;
  height: 100%;
  background-color: var(--background);
}

body {
  width: 100%;
  min-height: 100vh;
  height: auto;
  font-family: var(--body-font);
  text-align: left;
  word-wrap: break-word;
  overflow-wrap: break-word;
  color: rgb(var(--gray-dark));
  font-size: 20px;
  line-height: 1.7;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 0.5rem 0;
  color: var(--title-color);
  line-height: 1.2;
}

h1 {
  font-family: var(--header-font);
  font-size: 3.052em;
}

h2 {
  font-family: var(--header-font);
  font-size: 2.441em;
}

h3 {
  font-family: var(--header-font);
  font-size: 1.953em;
}

h4 {
  font-size: 1.563em;
}

h5 {
  font-size: 1.25em;
}

strong,
b {
  font-weight: 700;
}

a {
  color: var(--accent);
}

a:hover {
  color: var(--accent);
}

p {
  color: var(--text);
  margin-bottom: 1em;
}

.sub-title {
  color: var(--title-color);
}

/*--------------------------------*/
/*------       Layout       ------*/
/*--------------------------------*/
main {
  position: relative;
  flex: 1;
}

.content-grid {
  --padding-inline: 1rem;
  --content-max-width: 900px;
  --breakout-max-width: 1200px;

  --breakout-size: calc(
    (var(--breakout-max-width) - var(--content-max-width)) / 2
  );

  display: grid;
  grid-template-columns:
    [full-width-start] minmax(var(--padding-inline), 1fr)
    [breakout-start] minmax(0, var(--breakout-size))
    [content-start] min(
      100% - (var(--padding-inline) * 2),
      var(--content-max-width)
    )
    [content-end]
    minmax(0, var(--breakout-size)) [breakout-end]
    minmax(var(--padding-inline), 1fr) [full-width-end];
}

.content-grid > :not(.breakout, .full-width),
.full-width > :not(.breakout, .full-width) {
  grid-column: content;
}

.content-grid > .breakout {
  grid-column: breakout;
}

.content-grid > .full-width {
  grid-column: full-width;

  display: grid;
  grid-template-columns: inherit;
}

.flex {
  display: flex;
}

.flex-col {
  flex-direction: column;
  width: 100%;
}

textarea {
  width: 100%;
  font-size: 16px;
}

input {
  font-size: 16px;
}

table {
  width: 100%;
}

img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
}

code {
  padding: 2px 5px;
  background-color: var(--background);
  border-radius: 2px;
  font-family: var(--code-font);
}

pre {
  padding: 1.5em;
  border-radius: 8px;
  font-family: var(--code-font);
  line-height: 1.16;
}

pre > code {
  all: unset;
}

code > span {
  font-size: 1rem;
}

blockquote {
  border-left: 4px solid var(--accent);
  padding: 0 0 0 20px;
  margin: 0px;
  font-size: 1.333em;
}

hr {
  border: none;
  border-top: 1px solid rgb(var(--gray-light));
}

/* Header Styling */
header {
  align-self: start;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background: transparent;
}

header nav {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

header nav a {
  padding: 1em 0.5em;
  color: var(--text);
  border-bottom: 4px solid transparent;
  text-decoration: none;
}

header nav a.active {
  text-decoration: none;
  border-bottom-color: var(--accent);
}

header .sub-nav {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;
  gap: .5rem;
  width: auto;
}

header .social-links,
header .social-links a {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.hidden-lg {
  display: none;
}

.hidden-sm {
  display: flex;
}

@media (max-width: 720px) {
  body {
    font-size: 18px;
  }

  main {
    margin: 0;
    padding: 0;
    margin-bottom: 10rem;
  }

  .hidden {
    display: none;
  }

  .hidden-lg {
    display: flex;
  }

  .hidden-sm {
    display: none;
  }

  header {
    padding: 0;
  }

  header .social-links {
    display: none;
  }

  .mobile-nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    gap: 5rem;
    width: 100%;
    padding-block: 1rem;
    background: var(--background);
  }

  #astronav-menu {
    background: none;
    border: none;
    color: var(--accent-dark);
  }

  .astronav-toggle {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    color: var(--text);
 }
}

.sr-only {
  border: 0;
  padding: 0;
  margin: 0;
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  /* IE6, IE7 - a 0 height clip, off to the bottom right of the visible 1px box */
  clip: rect(1px 1px 1px 1px);
  /* maybe deprecated but we need to support legacy browsers */
  clip: rect(1px, 1px, 1px, 1px);
  /* modern browsers, clip-path works inwards from each corner */
  clip-path: inset(50%);
  /* added line to stop words getting smushed together (as they go onto seperate lines and some screen readers do not understand line feeds as a space */
  white-space: nowrap;
}
