---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="Get To Know Me"
	description="A Quick Bit About Me"
	pubDate={new Date('September 12 2023')}
	heroImage="/images/about-2.png"
>
	<p>
    First...Thank you for visiting!
	</p>
  <p>
    I'm a passionate Senior Web Developer committed to driving team productivity, delivering top-tier projects, and crafting impactful solutions through cutting-edge technologies with
    unwavering dedication to exceptional customer service.
  </p>
  <p>
    Now that the business is out of the way...<br /><br />
    When work is finished for the day, you can find me either hacking away at my side <a href="/projec">projects</a> or on my NeoVim config.
    Now when I get away from my computer, I love spending time with my wife and son, reading, drawing, and of course gaming.
    If I'm being honest, my guilty pleasure is mechanical keyboards...so I can chat all day about those (along with NeoVim).
  </p>

  <h3>My Links</h3>
  <div class="aboutLinks">
    <a href="/docs/Nicholas_Moore_Resume_2023.pdf" target="_blank">My Resume</a>
    <a href="https://github.com/nmoore14" target="_blank">GitHub</a>
    <a href="https://codepen.io/nmoore1407" target="_blank">CodePen</a>
    <a href="https://linkedin.com/in/nick-moore-2258663b" target="_blank">LinkedIn</a>
  </div>
</Layout>
