---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import Bento from '../components/ui/bento/Bento.astro';

import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en" transition:animate="none">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body class="content-grid flex flex-col">
    <Header title={SITE_TITLE} />
    <main transition:animate="slide" class="full-width content-grid">
      <div class="breakout">
        <h2 class="title">What can I do...</h2>
        <Bento />
      </div>
    </main>
    <Footer />
	</body>
</html>
