<div class="bento">
  <div class="bento-left">
    <div class="left-main"></div>
    <div class="left-sub">
      <div class="left-sub-1"></div>
      <div class="left-sub-2"></div>
    </div>
  </div>
  <div class="bento-right">
    <div class="right-sub"></div>
    <div class="right-main"></div>
  </div>
</div>
