<div class="bento">
  <div class="bento-left">
    <div class="left-main"></div>
    <div class="left-sub">
      <div class="left-sub-1"></div>
      <div class="left-sub-2"></div>
    </div>
  </div>
  <div class="bento-right">
    <div class="right-sub"></div>
    <div class="right-main"></div>
  </div>
</div>

<style>
.bento {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: .5rem;
  height: 30rem;
}

.bento-left {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: .5rem;
  height: 100%;
  width: 100%;
  grid-column: 0 1;
}

.left-main {
  width: 100%;
  height: 18rem;
  background-color: var(--accent);
  border-radius: .75rem;
}

.left-sub {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: .5rem;
  width: 100%;
  height: 11.5rem;
}

.left-sub-1,
.left-sub-2
{
  width: 50%;
  height: 100%;
  background-color: var(--accent);
  border-radius: .75rem;
}

.bento-right {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: .5rem;
  height: 100%;
  width: 100%;
  grid-column: 1 2;
}

.right-sub {
  width: 100%;
  height: 10rem;
  background-color: var(--accent);
  border-radius: .75rem;
}

.right-main {
  width: 100%;
  height: 19.5rem;
  background-color: var(--accent);
  border-radius: .75rem;
}
</style>
