<div class="bento">
  <div class="bento-left">
    <div class="bento-box left-main">
      <h1 class="bento-title">Web Development</h1>
    </div>
    <div class="left-sub">
      <div class="bento-box left-sub-1">
        <h3 class="bento-title">Mobile Apps</h3>
      </div>
      <div class="bento-box left-sub-2">
        <h3 class="bento-title">UI/UX Design</h3>
      </div>
    </div>
  </div>
  <div class="bento-right">
    <div class="bento-box right-sub">
      <h2 class="bento-title">Graphic Design</h2>
    </div>
    <div class="bento-box right-main">
      <h1 class="bento-title">Software Development</h1>
    </div>
  </div>
</div>

<style>
.bento {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: .5rem;
  height: 30rem;
}

.bento-box {
  padding: .5rem;
}

.bento-title {
  font-family: var(--body-font);
}

.bento-left {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: .5rem;
  height: 100%;
  width: 100%;
  grid-column: 0 1;
}

.left-main {
  width: 100%;
  height: 18rem;
  border: .35rem solid var(--accent);
  border-radius: .75rem;
}

.left-sub {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: .5rem;
  width: 100%;
  height: 11.5rem;
}

.left-sub-1,
.left-sub-2
{
  width: 50%;
  height: 100%;
  border: .35rem solid var(--accent);
  border-radius: .75rem;
}

.bento-right {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: .5rem;
  height: 100%;
  width: 100%;
  grid-column: 1 2;
}

.right-sub {
  width: 100%;
  height: 10rem;
  border: .35rem solid var(--accent);
  border-radius: .75rem;
}

.right-main {
  width: 100%;
  height: 19.5rem;
  border: .35rem solid var(--accent);
  border-radius: .75rem;
}

@media (max-width: 720px) {
  .bento-title {
    font-size: 1.5rem;
    transform: rotate(-90deg);
  }
}
</style>
